* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .col-1 {width: 100%;}
    .col-2 {width: 50%;}
    .col-3 {width: 100%;margin: 0 auto;}
} 

@media only screen and (max-width: 767px) and (orientation: landscape) {
    html {transform: rotate(-90deg)}
    .col-1 {width: 100%;}
    .col-2 {width: 50%;}
    .col-3 {width: 100%;margin: 0 auto;}
} 


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {width: 80%;margin: 0 auto;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    html {transform: rotate(-90deg)}    
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {width: 80%;margin: 0 auto;}
}


@media only screen and (min-width: 1024px) {
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {max-width: 1024px;width: 60%;margin: 0 auto;}
} 

/*
    col-1: tela total
    col-2: pokemon card
    col-3: delimita o centro da tela
*/

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .4rem;
    margin: 0 auto;
}

.pokemon-flex {
    padding: .6rem;;
}

/*pokemon card*/

.pokemon-card {
    max-width: 14rem;
    width: 100%;
    padding: 0;
    border-radius: .6rem;
    height: 7rem;
}

.pokemon-card > .pokemon-number {
    margin: .7rem 1rem;
    text-align: right;
    width: 3rem;
    float: right;
    color: #fff;
}

.pokemon-card > .pokemon-infos {
    width: 40%;
    height: 100%;
    padding-left: .8rem;
    padding-top: 1rem;
    float: left;
    position: relative;
    color: #fff;
}

.pokemon-card > .pokemon-infos > .pokemon-name {
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.pokemon-card > .pokemon-infos > a {
    text-decoration: none;
    color: #fff;
}

.pokemon-card > .pokemon-infos > .pokemon-types {
    margin: .3rem 0;
    padding: .2rem;
    font-size: .9rem;
}

.tp {
    background-color: rgba(255, 255, 255, .2);
    padding: .2rem .3rem;
    border-radius: .3rem;
}

.pokemon-card > .pokemon-img {
    position: absolute;
    float: right;
    margin-top: 1rem;
    margin-left: .4rem
}