* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .col-1 {width: 100%;}
    .col-2 {width: 50%;}
    .col-3 {width: 100%;margin: 0 auto;}
    .pokemon-pop {width: 90%;}
    #filtros {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
} 

@media only screen and (max-width: 767px) and (orientation: landscape) {
    html {transform: rotate(-90deg)}
    .col-1 {width: 100%;}
    .col-2 {width: 50%;}
    .col-3 {width: 100%;margin: 0 auto;}
    .pokemon-pop {width: 90%;}
    #filtros {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
} 


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {width: 80%;margin: 0 auto;}
    .pokemon-pop {width: 40%;}
    #filtros {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    html {transform: rotate(-90deg)}    
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {width: 80%;margin: 0 auto;}
    .pokemon-pop {width: 40%;}
    #filtros {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 1024px) {
    .col-1 {width: 100%;}
    .col-2 {width: 25%;}
    .col-3 {max-width: 1024px;width: 60%;margin: 0 auto;}
    .pokemon-pop {width: 30%;}
    #filtros {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #filtros > div {
        margin-right: 1rem;
    }
    #form {
        margin: 0 1rem;
    }
} 

/*
    col-1: tela total
    col-2: pokemon card
    col-3: delimita o centro da tela
*/

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .4rem;
    margin: 0 auto;
}

.pokemon-flex {
    padding: .6rem;;
}

/*pokemon card*/

.pokemon-card {
    max-width: 14rem;
    width: 100%;
    padding: 0;
    border-radius: .6rem;
    height: 7rem;
}

.pokemon-card > .pokemon-number {
    margin: .7rem 1rem;
    text-align: right;
    width: 3rem;
    float: right;
    color: #fff;
}

.pokemon-card > .pokemon-infos {
    width: 40%;
    height: 100%;
    padding-left: .8rem;
    padding-top: 1rem;
    float: left;
    position: relative;
    color: #fff;
}

.pokemon-card > .pokemon-infos > .pokemon-name {
    margin-bottom: .5rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.pokemon-card > .pokemon-infos > .pokemon-types {
    margin: .3rem 0;
    padding: .2rem;
    font-size: .9rem;
}

.tp {
    background-color: rgba(255, 255, 255, .2);
    padding: .2rem .3rem;
    border-radius: .3rem;
}

.pokemon-card > .pokemon-img {
    position: absolute;
    float: right;
    margin-top: 1rem;
    margin-left: .4rem
}

#busca {
    background-color: #559EDF;
    padding: 1rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}    

#form {
    background-color: #fff;
    padding: .5rem .8rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#input-busca {
    border: 0;
    width: 90%;
    color: #5DBE62;
    font-size: .8rem;
}

#input-busca:focus {
    outline: none;
}

#form > button {
    border-radius: .4rem;
    padding: .2rem .3rem;
    font-size: .8rem;
    border: 0;
    background-color: #5DBE62;
    color: #fff;
}



#filtros > div {
    display: flex;
    flex-direction: row;
    background-color: #F8A54F;
    font-size: .9rem;
    align-items: center;
    max-width: 10rem;
    width: 47%;
    border-radius: .6rem;
}

#filtros > div > select {
    color: #fff;
    border: 0;
    width: 93%;
    padding: .8rem;
    background-color: #F8A54F;
    border-radius: .6rem;
}

#filtros > div > select:focus {
    outline: none;
}

.option {
    width: .2rem;
    height: .2rem;
    background-color: #559EDF;
}